@import './myfont.css';
body{
	background-color:#FCF6F5; 
}
input{
	width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}
.none-deco-input{
	border: none;
	padding: 0;
}
.c-flex {
	display: flex;
  	flex-direction: column;
}
.r-flex {
  	display: flex;
  	flex-direction: row;
}
.containerSize{
	margin: 0 auto;
	max-width: 76.5rem;
}
.my-button1 {
	font-weight: bold;
    --bs-btn-color: #000;
    --bs-btn-bg: #7b9acc;
    --bs-btn-border-color: #7b9acc;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #7390BF;
    --bs-btn-hover-border-color: #7390BF;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #7b9acc;
    --bs-btn-active-border-color: #8AADE6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #7b9acc;
    --bs-btn-disabled-border-color: #0d6efd;
}
.login-content{
	position: relative;
	text-align: center;
	background-color: #ffffff;
	width: 560px;
	height: 400px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.close-btn {
	background-color:#ffffff;
	border:none;
	position: absolute;
    top: 10px;
    right: 10px;
}
.google-login-btn {
    background-color: #ffffff;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* 추가: 패딩과 보더를 포함한 전체 크기로 설정 */
}
.google-login-btn img {
    margin-right: 5px; /* 수정: 마진을 조금 줄임 */
    vertical-align: middle;
    width: 20px; /* 추가: 이미지 크기를 조절 */
    height: 20px;
}
.SearchBar{
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 0.25rem;
	column-gap: 0.25rem;
	flex-wrap: wrap;
}
.searchControl-origin{
	position: relative;
	border-radius: 0.75rem 0 0 0.75rem;
	width: 10.125rem;
}
.searchControl-destination{
	position: relative;
	border-radius: 0;
	width: 10.125rem;
}
.searchControl-cabin{
	border-radius: 0 0.75rem 0.75rem 0;
}
.searchControl-cabin::after{
	display:none;
}
.searchControl-cabin .dropdown-toggle::after{
	display: none;
}
.searchControl-cabin,
.searchControl-date{
	width: 10rem;
	max-width: 13rem;
}
.searchControl-origin,
.searchControl-destination,
.searchControl-date,
.searchControl-cabin{
  	flex: 1;
  	padding: 0 1rem;
  	height: 4.5rem;
  	cursor: pointer;
}
.SearchBar>div:not(:last-child){
	background-color: white;
}
.CabinSelector_Label,
.Input_Label{
    color: #05203c;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 700;
}
.input_Label{
	cursor: pointer;
}
.CabinSelector_Select{
	height: 3rem;
	border-color: #c2c9cd;
	border-radius: 0.75rem;
}
.BpkButton{
	min-height: 2.25rem;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
	border-radius: 0.5rem;
	border: none;
	display:inline-block;
	background-color: #e0e3e5;
}
.BpkNudger{
	width: 2.5rem;
	padding: 0.5rem 0;
	display:inline-block;
	border: none;
	text-align: center;
	font-size: 1rem;
	line-height: 1.25rem;
	font-weight: 700;
}
#travelInfo {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.table-container {
    border-collapse: collapse;
    width: 100%;
}

.table-container th, .table-container td {
    padding: 15px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
}

.table-container tr:nth-child(even) {
    background-color: #ffffff;
}

.table-container tr:nth-child(odd) {
    background-color: #f9f9f9;
}


